* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    padding: 0;
}

.nav-section {
    display: flex;
    flex-direction: row;
    padding: 1.25rem 0 1.25rem 0;
    align-items: center;
    /* gap: 20%; */


}

.logo-div {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 2.5rem;
    width: auto;

}

.titles-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    width: 70%;
    font-size: 0.8rem;
    font-weight: 600;
    padding-right: 4rem;
    padding-left: 15rem;
}

.title-text {
    margin-right: 2rem;
    color: black;
    text-decoration: none;
}

.resumeBtn {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    padding: 0.75rem 1.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125rem;
    background-color: #ffcd42;
}

.mode {
    color: black;
    font-size: 1.5rem;
}


.hero-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 2em;
}

.hero-logo {
    margin-top: 2.5rem;

}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-0.5rem);
    }
}

.hero-logo-image {
    width: 9.375rem;
    border-radius: 50%;
    animation: bounce 1s infinite alternate;
}

.intro {
    padding: 0.94rem;
    font-size: 1.25rem;
}


.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.hero-para {
    margin-top: 1.25rem;
    text-align: center;

}

.heroBtn {
    text-decoration: none;
    color: #fff;
    padding: 0.75rem 1.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125rem;
    background-color: #000;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.custom-hr {
    width: 70%;
    margin: 2.5rem auto;
    /* centers the hr */
    border-top: 1px solid #f4f4f4;
}


.skill-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4.5rem;
    background-color: #ffcd42;
    margin: 0 1.875rem;
    /* background-color: #ffcd42; */

}

.skill-heading {
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 0.1em;
}

.skill-para-div {
    font-size: 100%;
    padding: 20px 200px;
}

.skill-para {
    text-align: center;
    margin: 20px;
}

.Skills-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: #42ff5e; */
    width: 100%;
}

.skill-logo {
    /* margin-top: 50px ; */
    /* gap: 20%; */
    border-radius: 2%;
    /* box-shadow: #b7b6b6 2px 2px 20px; */
    text-decoration: none;
    font-weight: 700;
    width: 100px;
}

.skill-logo-img {
    width: 60px;
    height: auto;

}

.logo-p1 {
    text-align: center;
    color: #000;
    font-size: 0.8rem;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    padding-bottom: 4.5rem;
}

.project-heading {
    font-size: 29px;
    margin-top: 3em;
    margin-bottom: 1em;
}


.projects {
    padding: 2px 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
    margin: 30px 90px;

}

.project-img {
    width: 250px;
    border-radius: 2%;
}

.project-Btn {
    text-decoration: none;
    color: #fff;
    padding: 12px 30.400px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #000;
    margin-top: 20px;
}

.project-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #000;
}

.footer-gmailID {
    padding: 15px 0 0;
    font-size: 0.8rem;
}

.link {
    text-decoration: none;
    color: white;

}

.logo1 {
    color: white;


}

.footer-logo {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    text-align: center;
    /* gap: 20px; */

}


.footer-para {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* .para1 {
    color: #fff;
    font-size: 0.4rem;
    font-weight: bold;
    text-decoration: none;

}

.para2 {
    background-color: #fce807;
    ;
    font-size: 0.4rem;
    font-weight: bolder;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    color: #000;
} */

.footer-copyright {
    color: white;
    padding: 0 0 20px;
    font-size: 0.5rem;
}

@media (max-width: 600px) {

    body {
        overflow-x: hidden;
    }
     
    /* .crossIcon{
        display: none;
       } */
    .nav-section {
        justify-content: space-between;
        padding: 1rem;
        position:fixed;
        top: 0;
        left: 0;
        right: 0%;
        z-index: 1000;
        background-color: #fff;
        background-color: red;

    }

    .logo {
        width: 1.5rem;
        height: auto;
    }

    .logo-div {
        width: auto;
        /* background-color: aqua; */

    }


     #burger {
        display: block;
        cursor: pointer;
        color: #000;
        
    }

    #burgerIcon, #crossIcon{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    #crossIcon{
        display: none;
    }


    #titles-div {
        display: none;
        flex-direction: column;
        background-color: #eae7e7;
        position: absolute;
        top: 70px;
        right: 2px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        text-align: center;
        margin: 0;

    }

    #titles-div.active {
        display: flex;
    }

    .resumeBtn{
       /* background-color: red; */
      padding: 1em;

        
    }
    .title-text,
    .resumeBtn,
    .mode {
        margin: 7px 0;
        font-size: 0.8rem;
    }

   
    
    @media (min-width: 601px) {
        .burger {
            display: none;
        }

    }



    .hero-sec {
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        /* padding: 8px 100px; */
        gap: 1px;
    }

    .hero-logo-image {
        width: 100px;
        margin-top: 2rem;
        z-index: 1000;
    }

    .intro {
        font-size: 1em;
    }

    .hero-description {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    .hero-para{
        font-size: 1rem;
        text-align: center;
    }
    .heroBtn {
        /* background-color: red; */
        /* margin: 1.3em; */
        width: auto;
        font-size: 0.6rem;
        border-radius: 1em;
        padding: 10px;
    }


    .skill-sec {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        /* background-color: red; */
    }

    .skill-heading {
        font-size: 0.85em;
        padding: 2px;
        /* background-color: aqua; */
    }

    .skill-para-div {
        padding: 10px;
    }

    .skill-para {
        /* background-color: red; */
        padding: 2px;
        font-size: 0.9rem;
        margin: 0.1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .Skills-logo-div {
        /* background-color: blue; */
        margin: 0%;
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
    }

    .skill-logo {
        width: 40px;
    }

    .skill-logo-img {
        width: 30px;

    }

    .logo-p1 {
        font-size: 0.4em;
    }


    .project-section{
        /* background-color: red; */
        padding: 0.8em;
        margin: 1.5em;
    }
    .project-heading{
        /* background-color: aqua; */
        margin-top: 1em;
        font-size: 1em;
    }
    .project-para{
        /* background-color: blue; */
        font-size: 0.9em;
    }

    .projects{
        /* background-color: aqua; */
        /* width: 300px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 1em;

    }

    .project-img{
        /* background-color: red; */
        width: 90px;
        height: 90px;
        display: block;
    }

    

    .project-btn-container{
        /* background-color: aqua; */
        /* width: 427px; */
        height: auto;
        margin-top: 1.5em;
    
    }
    .project-Btn{
        /* background-color: red; */
        margin-top: 0%;
        font-size: 0.6em;
        border-radius: 1em;
        padding: 1.2em;
        width: 100px;
    }

    .footer{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4em;
    }
    .footer-gmailID{
        font-size: 0.5em;
    }
    .footer-logo{
        gap: 0.7em;
    }

}